<div class="contact-container">
  <h1>Asistencia Técnica</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="name">Nombre:</label>
    <input id="name" formControlName="name" type="text" required>
    <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
      El nombre es requerido.
    </div>

    <label for="email">Correo Electrónico:</label>
    <input id="email" formControlName="email" type="email" required>
    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
      Ingresa un correo electrónico válido.
    </div>

    <label for="message">Mensaje:</label>
    <textarea id="message" formControlName="message" required></textarea>
    <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
      El mensaje es requerido.
    </div>

    <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
  </form>
</div>
